@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:wght@200&family=Lato:wght@300&family=Lora&family=Montserrat:wght@100&family=Pacifico&family=Zen+Antique+Soft&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 font-family: 'Montserrat', sans-serif;;
}
body{
    background-image: linear-gradient(#636162, #b1afaf);
    height: 122vh;
    font-weight: bold;
    letter-spacing: 2px;
}
.main{
    background-color: white;
    height: 876px;
    width: 650px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 60%;
}
.left{
    background-color: #fbb03b;
    width: 200px;
    height: 877px;
    float: left;
}
.right{
    width: 450px;
    float: left;
}
.profile-img{
    height: 164px;
width: 167px;
    background-color: #ddd;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 60px;
    border: 10px solid #fbb03b;
    box-shadow: 6px 7px 9px 5px #fbb03b73;
}
.profile-img img{
    width: 100%;
    border-radius: 40%;
}
.box1{
position: relative;
}
.heading{
    background-color: #4d4d4d;
    padding: 10px;
    color: #fbb03b;
    text-align: left;
    padding-left: 20px;
    margin-right: -15px;
}
.heading::after{
    content: '';
    position: absolute;
    width: 21px;
    height: 18px;
    background-color: #5a5959;
    left: 191px;
    transform: rotate(56deg);
    z-index: -1;
}
.p1{
    padding: 11px 15px;
font-size: 11px;
}
.icons1{
    font-size: 16px!important;
    padding-right: 10px!important;
    vertical-align: sub;
}
.skill-container{
    width: 90%;
    background-color: #4d4d4d;
    margin: 0px 10px;
}
.skill{
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
}
.html{
    width: 90%;
    background-color: white;
}
.css{
    width: 70%;
    background-color: white;
}
.js{
    width: 60%;
    background-color: white;
}
.jquery{
    width: 80%;
    background-color: white;
}
.web{
    width: 75%;
    background-color: white;
}
.gra{
    width: 85%;
    background-color: white;
}
.icons2{
    padding: 18px 10px;
}
.name-div{
    padding: 86px 0px 60px 55px;
    text-align: center;
    letter-spacing: 3px;
}
.name-div h1{
    margin-bottom: 10px;
}
.box2{
    padding: 0px;
    margin-top: 30px;
}
.p2{
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 18px;
    margin-top: 5px;
}
h2{
    font-size: 16px;
    margin-bottom: 15px;
}
.icons3{
    vertical-align: bottom;
    font-size: 21px!important;
    color: #4d4d4d;
}
.p3{
    font-size: 13px;
    word-spacing: 1px; ;
    letter-spacing: 0px;
    margin-top: 10px;

}
.p3 span{
    color: #ff9b00;
    padding-left: 20px;
}
@media only screen and (max-width:767px) {
    .main{
        display: block;
        width: 100%;

    }
    .left{
        display: block;
    }
}
@media only screen and (max-width:500px) {
    .main{
        display: block;
        width: 100%;
        
    }
    .right{
        display: block;
        width: 100;
    }
}
@media only screen and (min-width:500px ) and (max-width:765) {
    .main{
        display: block;
        width: 100%;
        
    }
}